only-built-dependencies[]=@firebase/util
only-built-dependencies[]=@google/genai
only-built-dependencies[]=esbuild
only-built-dependencies[]=protobufjs
only-built-dependencies[]=re2
only-built-dependencies[]=sharp
only-built-dependencies[]=unrs-resolver
